.container
  .list-group.list-group-root.well
    %a.list-group-item{ :href => '#item-1', 'data-toggle' => 'collapse'}
      = fa_icon('chevron-right')
      v1
    #item-1.list-group.collapse
      %a.list-group-item{ :href => '#item-1-0', 'data-toggle' => 'collapse'}
        = fa_icon('chevron-right')
        v1.0
      #item-1-0.list-group.collapse
        %a.list-group-item{ :href => '#item-1-0-0', 'data-toggle' => 'collapse'}
          = fa_icon('chevron-right')
          v1.0.0
        #item-1-0-0.list-group.collapse
          .list-group-item OW Coach Release!
