- reviews.each do |review|
  - reviewer_profile = Profile.find(review.profile_id)
  .card.bg-dark.mb-2
    .card-header
      %p(style='font-size: 12px;') Reviewed by #{link_to reviewer_profile.tag + ' (' + reviewer_profile.sr.to_s + ')', profile_path(id: reviewer_profile.id), class: 'text-primary'} #{time_ago_in_words(review.created_at)} ago...
      %h6.d-inline.mr-1=review.rating
      %h5.d-inline.ml-1=review.title
    .card-body
      %p=review.summary
      -Tip.where(review_id: review.id).each do |tip|
        .border.border-primary.rounded.p-2.mb-1
          %p
            %a.text-warning(href='#')=Time.at(tip.timestamp).strftime("%H:%M:%S")
          %p=tip.comment
          %p #{tip.helpfulness[0]} of #{tip.helpfulness[0] + tip.helpfulness[1]} found this helpful.
          -tip.tags.each do |tag|
            %a.badge.badge-pill.badge-light.text-dark.mr-1.mb-2=tag
