-# %h1 New review
-#
-# = render 'form'
-#
-# = link_to 'Back', reviews_path

#owc_reviewer{post: @post.to_json, video_url: rails_blob_path(@post.video).to_json, current_user: Profile.find(current_user.id).to_json }
= javascript_pack_tag 'owc_reviewer'
